<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Song List</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_edit.css') }}">
</head>
<body>
    <h3>Modifica canzone:</h3>
    <table>
        <thead>
            <th>VALUES</th>
        </thead>
        <tbody>
            <form action="/update" method="post">
                <tr>
                    <td>ID: </td>
                    <!-- Usa direttamente song['id'] -->
                    <input type="hidden" name="id" value="{{ song['id'] }}">
                    <td>{{ song['id'] }}</td>
                </tr>
                <tr>
                    <label for="songName">Nome Canzone:</label>
                    <input type="text" id="songName" name="songName" value="{{ song['songName'] }}" required>
                    <br><br>
                </tr>
                <tr>
                    <label for="songStreams">Numero di Stream:</label>
                    <input type="text" id="songStreams" name="songStreams" value="{{ song['songStreams'] }}" required>
                    <br><br>
                </tr>
                <tr>
                    <td colspan="2">
                        <button type="submit">Salva</button>
                    </td>
                </tr>
            </form>
        </tbody>
    </table>
</body>
</html>
