<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
    <h3>Il mio sito web</h3>
    <p>Elenco canzoni:</p>
    <form action="/new" method="post">
        <button type="submit">NEW SONG</button>
    </form>
    <br>
    <table>
        <thead>
            <th>ID</th>
            <th>SONGNAME</th>
            <th>SONGSTREAMS</th>
            <th>ACTION</th>
        </thead>
        <tbody>
            {% for song in songs %}
            <tr>
                <td>{{ song.GetID() }}</td>
                <td>{{ song.GetSongName() }}</td>
                <td>{{ song.GetSongStreams() }}</td>
                <td>
                    <form action="/edit" method="get">
                        <input type="hidden" name="id" value="{{ song.GetID() }}">
                        <button type="submit">EDIT</button>
                    </form>
                    <form action="/delete" method="post">
                        <input type="hidden" name="id" value="{{ song.GetID() }}">
                        <button type="submit">Delete</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>